body {
    margin: 0 !important;
    background-image: url(../img/bg.jpg);
}


html {
    scroll-behavior: smooth !important;
    /* overflow-x: hidden; */
    height: 100% !important;
}

a:hover {
    cursor: pointer;
}


/* -------------------------------------------------------------------------------- */
.header {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 150px;
    padding: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 150px;
    padding: 0px 50px 0px 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.footer a {
    color: white;
}
/* -------------------------------------------------------------------------------- */
#content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1%;
}

.dialog-bg {
    background-color: rgba(0, 0, 0, 0.5);
    /* 0.2 org */
    background-image: url(../img/bg.jpg);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none;
}

.previewCard-content {
    position: relative;
}

.previewCard {
    border-radius: 20px;
    border: 2px solid;
    border-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 1%;
    color: white;
    font-size: medium;
    width: 300px;
    overflow: hidden;
}

/* .previewCard-images{
    position: relative;
} */
.previewCardImg {
    height: 150px;
    width: 150px;
    z-index: 2;
}

.previewCard:hover {
    cursor: pointer;
}

.previewCard-Pokemon-Id {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: black !important;
}

.previewCard-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 110px;
}

.Pokemon-Name {
    font-size: x-large;

}

.Pokemon-Name:first-letter {
    text-transform: uppercase !important;
}

.pokemon-type-tag {
    border: 2px solid;
    border-radius: 5px;
    border-color: black;
    width: 60px;
    text-align: center;
    padding: 2px;
    font-size: 14px;
    color: white;
}

.pokemon-type-tag::first-letter {
    text-transform: uppercase;
}

/* --------------------------------------DETAIL_HEADER------------------------------------------ */
.detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
    overflow-y: scroll;
    max-height: 100%;
    height: 660px;
    padding: 25px;
    border-radius: 20px;
    padding: 14px;
    border: 2px solid;
    border-color: #f3f5fa;
}

.detail::-webkit-scrollbar {
    display: none;
}

.detail-header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 8px;
}



.close-card {
    display: flex;
    justify-content: flex-end;
}

.arrow {
    height: 32px;
    width: 32px;
}

.arrow:hover {
    cursor: pointer;
}

.pokemonCard-id {
    display: flex;
    width: 100%;
}

.types-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.pokemonImage-container {
    display: flex;
    justify-content: center;
    padding: 8px;
}

.pokemonImage-background {
    display: flex;
    justify-content: center;
    position: relative;
    height: 230px;
    width: 230px;
    border: 4px solid;
    border-radius: 10px;
}

.pokemonImage {
    height: 220px;
    width: 220px;
    z-index: 1;
}

.pokeball {
    left: 162px;
    top: -10px;
    opacity: 0.2;
    position: absolute;
    width: 90%;
    /* left: 130px;
    top: -10px;        */
}

.pokeball-pokedex {
    opacity: 0.2;
    position: absolute;
    width: 80%;
    left: -160px;
    top: 120px;
}

/* --------------------------------------DETAIL_FOOTER------------------------------------------ */
.back-forward {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 8px;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 0px 8px 0px 8px;
}

/* .navigation-container a {
    font-weight: 500;
} */

.dropdown-menu {
    --bs-dropdown-link-active-bg: #ced4da !important;
    --bs-dropdown-link-hover-bg: #e9ecef !important;
}

#informationContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 170px;
    font-size: 15px;
    /* height: 180px; */
    padding: 8px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* ------------------ABOUT---------------- */
.description {
    font-style: italic;
    margin-bottom: 8px;
    background-color: #e9ecef;
    border-radius: 8px;
    text-align: center;
}

/* .about {
    overflow-y: scroll;
} */

.about-section {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin-bottom: 6px;
}


.font-weight500 {
    font-weight: 500;
}

.abilities {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/* ------------------STATS---------------- */
.stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
}

.stat-name {
    width: 250px;
    gap: 8px;
    font-weight: 550;
    /* font-size: 14px; */
}

.stat-name:first-letter {
    text-transform: uppercase !important;
}

.stat-value {
    text-align: right;
    gap: 8px;
    width: 45px;
    color: #666666;
}

.bar-height-width {
    height: 20px !important;
    width: 100%;
}

/* ------------------EVOLUTIONCHAIN---------------- */

.chain-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 overflow-y: scroll;
}

.chain {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    
}
.pokemon{
    text-align: center;
}
.pokemonchain-detail {
    margin: 8px 0 8px 0;
}

.pokemonchain-img{
    cursor: pointer;
    height: 80px;
    width: 80px;
}

/* --------------------------------------RESPONSIVE------------------------------------------ */
@media (min-height: 901px) {
    /* .detail {
        height: 64vh;
       
    }} */
}

@media (max-width: 768px) {}



@media (max-width: 360px) {

    /* Stilregeln für kleine Mobiltelefone hier */
    .detail {
        height: 70vh;

    }

    .detail-header {
        padding: 6px;
    }

    .pokemon-type-tag {
        font-size: 12px;
    }

    .pokemonImage-background {
        height: 200px;
        width: 200px;
    }

    .pokemonImage {
        height: 200px;
        width: 200px;
    }


    .navigation-container {
        padding: 0px 5px 0px 5px;
        font-size: 15px;
    }


    .back-forward {
        padding: 6px;
    }

    #informationContainer {
        padding: 6px;
    }

    .arrow {
        height: 20px;
        width: 20px;
    }

    .progress-hide {
        display: none !important;
    }

    /* .dropdown-menu {
        font-size: 14px !important;
    } */
}