body {
    margin: 0 !important;
    background-image: url(../img/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


html {
    scroll-behavior: smooth !important;
    /* overflow-x: hidden; */
    height: 100% !important;
}



.link {
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    color: rgba(33,255,214,0.72);
    position: relative;
    transition: transform .1s ease-in-out;
}
.link::before, .link::after{
    content: "";
    position: absolute;
    background-color: rgba(33,255,214,0.72);
    transition: transform .5s;
  }
.link::before,
.link::after {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-style: solid;
    border-color:black;
    background-color: transparent;
}

.link::before {
    border-width: 1px 0;
    transform: scaleX(0);
}

.link::after {
    border-width: 0 1px;
    transform: scaleY(0);
}

.link:hover::before,
.link:hover::after {
    transform: scale(1);
}


/* -------------------------------------------------------------------------------- */
.header {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 150px;
    padding: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 150px;
    padding: 0px 50px 0px 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer a {
    color: white;
    text-decoration: none;
}

/* -------------------------------------------------------------------------------- */
#content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1%;
}

.dialog-bg {
    background-image: url(../img/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    background-size: cover;
    background-color: black;


    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none;
}

.previewCard-content {
    position: relative;
}

.previewCard {
    border-radius: 20px;
    box-shadow: inset 0px 5px 10px 0px rgba(255, 255, 255, 0.7);
    border: 2px solid;
    border-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 1%;
    color: white;
    font-size: medium;
    width: 300px;
    overflow: hidden;

}

.previewCard:hover .previewCardImg {
    transform: scale(1.55, 1.55);
    transition: 0.4s;
    color: rgba(0, 0, 0, 0.1);
}

.previewCard:hover {
    transform: scale(0.98, 0.98);
    transition: 0.4s;
    overflow: visible;
    opacity: 0.9;
    background-color: black !important;
}

.previewCard:hover .pokeball {
    display: none;
}

.previewCardImg {
    height: 150px;
    width: 150px;
    z-index: 2;

}

.previewCard:hover {
    cursor: pointer;
}

.previewCard-Pokemon-Id {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: black !important;
}

.previewCard-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 110px;
}

.Pokemon-Name {
    font-size: x-large;

}

.Pokemon-Name:first-letter {
    text-transform: uppercase !important;
}

.pokemon-type-tag {
    border: 2px solid;
    border-radius: 5px;
    border-color: black;
    width: 60px;
    text-align: center;
    padding: 2px;
    font-size: 14px;
    color: white;
}

.pokemon-type-tag::first-letter {
    text-transform: uppercase;
}

/* --------------------------------------DETAIL_HEADER------------------------------------------ */
.detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
    overflow-y: scroll;
    max-height: 100%;
    height: 660px;
    padding: 25px;
    border-radius: 20px;
    padding: 14px;
    border: 2px solid;
    border-color: #f3f5fa;
    box-shadow: inset 0px 0px 10px 0px rgba(255, 255, 255, 0.7);
}


.detail::-webkit-scrollbar {
    display: none;
}

.detail-header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 8px;
}



.close-card {
    display: flex;
    justify-content: flex-end;
}

.icon-bg {
    /* background-color: yellow; */
    border-radius: 5px;
}

.icon-bg:hover {
    background-color: #ffe69b;
    border-radius: 5px;
}

.arrow {
    height: 32px;
    width: 32px;
}

.arrow:hover {
    cursor: pointer;
}

.pokemonCard-id {
    display: flex;
    width: 100%;
}

.types-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.pokemonImage-container {
    display: flex;
    justify-content: center;
}

.pokemonImage-background {
    display: flex;
    justify-content: center;
    position: relative;
    height: 230px;
    width: 230px;
    border: 4px solid;
    border-radius: 10px;
}

.pokemonImage {
    height: 220px;
    width: 220px;
    z-index: 1;
}

.pokeball {
    left: 162px;
    top: -10px;
    opacity: 0.2;
    position: absolute;
    width: 90%;
    /* left: 130px;
    top: -10px;        */
}

.pokeball-pokedex {
    opacity: 0.2;
    position: absolute;
    width: 80%;
    left: -160px;
    top: 120px;

}

/* --------------------------------------DETAIL_FOOTER------------------------------------------ */
.back-forward {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 8px;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 26px;
    background-color: white;
    padding: 0px 8px 0px 8px;
}

/* .navigation-container a {
    font-weight: 500;
} */
.progress{
    border-radius: 5px !important;
}
.dropdown-menu {
    padding: 5px !important;
    --bs-dropdown-link-active-bg:none !important;
    --bs-dropdown-link-hover-bg: background-color:none !important;
    border: none !important;
   
    /* rgb(245, 245, 245) !important; */
}
.dropdown-item {
    width: 104% !important;
    background-color: white !important;
}
.dropdown-toggle::after {
    border-top: none !important;
}


#informationContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 170px;
    font-size: 15px;
    /* height: 180px; */
    padding: 8px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* ------------------ABOUT---------------- */
.description {
    font-style: italic;
    margin-bottom: 8px;
    background-color: #e9ecef;
    border-radius: 5px;
    text-align: center;
}

/* .about {
    overflow-y: scroll;
} */

.about-section {
    display: flex;
    justify-content: space-between;
    width: 180px;
    margin-bottom: 6px;
}


.font-weight500 {
    font-weight: 500;
}

.abilities {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


/* ------------------STATS---------------- */
.stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
    margin-bottom: 4px;
}

.stat-name {
    width: 250px;
    gap: 8px;
    font-weight: 550;
    font-size: 14px;
}

.stat-name:first-letter {
    text-transform: uppercase !important;
}

.stat-value {
    text-align: right;
    gap: 8px;
    font-size: 14px;
    width: 45px;
    color: #666666;
}

.bar-height-width {
    height: 20px !important;
    width: 100%;
}

/* ------------------MOVES---------------- */

#movecontainer {
    overflow-y: scroll;
}

.move {
    display: flex;
    width: 112px;
    height: 35px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 4px;
    background-color: #e9ecef;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.17);

}

.move:hover {
    background-color: rgb(245, 245, 245);
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.17);
}

.move:hover+.move-details {

    display: flex;
    /* width: 200px; */
    font-size: 12px;
    margin-bottom: 8px;
    padding: 5px;
    margin-top: 2px;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    border-radius: 8px;
}

.move-details {
    display: none;
    margin-right: 8px;
}

.bottom-placeholder {
    height: 50px;
    /* DO NOT DELETE THIS MARGIN */
    margin: 10px;
}

/* ------------------EVOLUTIONCHAIN---------------- */

.chain-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.chain {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;

}

.pokemon {
    text-align: center;
}

.pokemonchain-img {
    cursor: pointer;
    height: 80px;
    width: 80px;
}

.pokemonchain-img:hover {
    transform: scale(1.10, 1.10);
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    filter: brightness(80%);
}

/* --------------------------------------RESPONSIVE------------------------------------------ */
@media (min-height: 901px) {
    /* .detail {
        height: 64vh;
       
    }} */
}

@media (max-width: 768px) {
    .previewCard {
        margin: 1.3%;
    }
}

@media (max-width: 420px) {

    body {
        background-repeat: repeat;
        background-size: 250vw;
        background-position: 50% 130%;
    }

    .dialog-bg {
        background-repeat: repeat;
        background-size: 180vw;
        background-position: 50% 130%;
    }

    .pokemonchain-img {
        height: 70px;
        width: 70px;
    }

    .about {
        overflow-y: scroll;
    }

    .previewCard {
        margin: 3%;
    }
}


@media (max-width: 360px) {
    .pokemonchain-img {
        cursor: pointer;
        height: 85px;
        width: 85px;
    }

    .chain-container {
        overflow-y: scroll;
    }

    .chain {
        flex-direction: column;
    }

    .pokemonchain-detail {
        margin: 24px 0 24px 0;
    }

    .pokeball-pokedex {
        width: 100%;
    }

    /* Stilregeln für kleine Mobiltelefone hier */
    .detail {
        height: 70vh;

    }

    .detail-header {
        padding: 6px;
    }

    .pokemon-type-tag {
        font-size: 12px;
    }

    .pokemonImage-background {
        height: 200px;
        width: 200px;
    }

    .pokemonImage {
        height: 200px;
        width: 200px;
    }


    .navigation-container {
        padding: 0px 5px 0px 5px;
        font-size: 15px;
    }


    .back-forward {
        padding: 6px;
    }

    #informationContainer {
        padding: 6px;
    }

    .arrow {
        height: 20px;
        width: 20px;
    }

    .progress-hide {
        display: none !important;
    }

    /* .dropdown-menu {
        font-size: 14px !important;
    } */
}