body {
    margin: 0;
}

/* -------------------------------------------------------------------------------- */

#content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1%;
}

.previewCard {
    border-radius: 20px;
    /* border: 3px solid; */
    border-color: #f3f5fa;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 1%;
    color: white;
    font-size: medium;
    width: 300px;
}

.previewCard:hover {
    cursor: pointer;
}

.previewCard img {
    height: 150px;
    width: 150px;
}

.previewCard-Pokemon-Id {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.Pokemon-Name :first-letter {
    text-transform: uppercase;
}

.Pokemon-Name {
    font-size: x-large;
}

.previewCard-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 110px;
}

.pokemon-type-tag {
    border: 1px solid;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    padding: 2px;
    font-size: 14px;
}

.pokemon-type-tag::first-letter {
    text-transform: uppercase;
}

#typeTwo {
    visibility: visible;
}




.pokedex {
    height: 50vh;
    width: 50vw;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 24px;
}

.pokedex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

#pokedex-top {
    min-height: 50vh;
    background-color: rgb(255, 28, 28);
    color: white;
    padding-top: 1px;
    /* BONUS */
    border-top-left-radius: 40px;
    padding: 30px 30px 60px 30px;
    border-top-right-radius: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#pokedex-top img {
    height: 32px;
    width: 32px;
}

#pokedex-top img:hover {
    cursor: pointer;
}

.pokedex-bottom {
    background-color: white;
    border-radius: 40px;
    margin-top: -40px;
    /* min-height: 400px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px 30px 30px;
    width: 100%;
    height: 100%;

}


.arrow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    

}

.space-between {
    display: flex;
    justify-content: space-between;
}

.margin-top-8 {
    margin-top: 8px;
}

.pokemonCard-pokemon-type {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;
}

.pokemonCard-name {
    display: flex;
    width: 100%;
}


.pokemonCard-id {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


/* --------------------------------------POKEMON_INFO------------------------------------------ */


.info-container {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    margin-top: -40px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding: 0px 30px 30px 30px;
}

.pokemonImage {
    height: 350px;
    margin-top: -270px;
}

.remove-scrolling {
    height: 100%;
    overflow: hidden;
}

.info-nav {
    width: 400px;
    display: flex;
    margin-bottom: 24px;
    justify-content: space-between;
}

.info-nav a {
    cursor: pointer;
}

.info-content {
    width: 400px;
}

.stats {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 12px;
    gap: 16px;

}


.stats-container {
    display: flex;
    flex-direction: column;

}

.stat-name {
    width: 125px;
    gap: 8px;
    font-weight: 550;
    font-size: 14px;
}

.stat-name:first-letter {
    text-transform: uppercase !important;
}

.stat-value {
    text-align: right;
    gap: 8px;
    width: 35px;
    color: #666666;
}

.bars {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.bar-height-width {
    height: 20px !important;
    width: 200px;
}


.dialog-bg {
    background-color: rgba(0, 0, 0, 0.5);
    /* 0.2 org */
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog {
    height: 50vh;
    width: 50vw;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 24px;
}

.d-none {
    display: none;
}


@media(max-width: 480px) {
    .pokedex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }

    .pokedex-bottom {
        min-height: 250px;
        height: 100%;
    }

}