body {
    margin: 0;
    height: 100vh;
    background-color: #f3f5fa;
    font-family: 'Lato', sans-serif;
}

.m-top80 {
    margin-top: 80px;
}


.justify-content-around {
    display: flex;
    justify-content: space-between;
}

.d-none {
    display: none;
}

/* -------------------------------------------------------------------------------- */
.headline {
    text-align: center;
    margin-bottom: 20px;
}

#pokedex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1%;
}

.previewCard {
    border-radius: 20px;
    /* border: 3px solid; */
    border-color: #f3f5fa;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 1%;
    color: white;
    font-size: medium;
    width: 300px;
}

.previewCard:hover {
    cursor: pointer;
}

.previewCard img {
    height: 180px;
    width: 180px;
}

.previewCard-Pokemon-Id {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.Pokemon-Name :first-letter {
    text-transform: uppercase;
}

.Pokemon-Name {
    font-size: x-large;
}

.previewCard-Pokemon-Types {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.pokemon-type-tag {
    border: 2px solid;
    border-radius: 16px;
    width: 100px;
    text-align: center;
    padding: 2px;
}

#typeTwo {
    visibility: visible;
}



/* --------------------------------------POKEMON_CARD------------------------------------------ */
#pokemonCardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #f6f8fc;
    height: 100%;
    width: 100%;
}

.bg {
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

#pokemonCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

#pokemon {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    width: 100%;
    min-height: 50vh;
    padding: 50px 50px 0px 50px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: medium;
}

.arrow {
    width: 100%;
    display: flex;
    
}

.arrow img {
    height: 32px;
    width: 32px;
    display: flex;
}

.arrow:hover {
    cursor: pointer;
}

.pokemonCard-pokemon-type {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;
}

.pokemonCard-name {
    display: flex;
    width: 100%;
}


.pokemonCard-id {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.info-container {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    margin-top: -40px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    padding: 0px 50px 0px 50px;
}

.pokemonImage {
    height: 300px;
    margin-top: -245px;
    /* -224px; */
}

.remove-scrolling {
    height: 100%;
    overflow: hidden;
}