<div class="footer">
    
    <!-- <div class="footer-links">
    <a href="##">Jobs</a>
    <a href="##">AGB</a>
    <a href="##">Impressum</a>
    <a href="##">Datenschutzerklärung</a>
    <a href="##">Verwendung&nbsp;von&nbsp;Cookies</a>
    </div> -->
    <div>
        Backgroundimage from 
        <a href="https://pixabay.com/de/users/piro4d-2707530/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1624022">PIRO</a> 
        at <a href="https://pixabay.com/de//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1624022">Pixabay</a>
    </div>
    <div>
         <a href="https://www.freepik.com/icon/pokeball_692557#fromView=keyword&term=Pokeball&page=1&position=88">Pokaball-Icon by Made by Made Premium</a>
    </div>



</div>